body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 25px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.h-100v {
  min-height: 100vh;
  padding: 25px;
}
.grid-box {
  background-image: url(https://opengameart.org/sites/default/files/backgrounddetailed1.png.preview.jpg);
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #eee;
  margin: 0 auto;
  flex-direction: row;
  box-sizing: content-box;
}

.grid-box div {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  /* border: 0.001px solid #eee; */
}

.snake {
  background-color: #0088ff;
}
.head {
  background-color: aqua !important;
}
.rh {
  background-color: green !important;
}
.lh {
  background-color: yellow !important;
}
.uh {
  background-color: black !important;
}
.dh {
  background-color: white !important;
}
.tail {
  background-color: red !important;
}

.apple {
  background-image: url(https://freesvg.org/storage/img/thumb/johnny_automatic_apple.png);
  background-size: 20px;
}
